trigger:
  branches:
    include:
      - main
      - *feature

stages:
  - stage: Validate
    displayName: 'Validate & Scan'
    jobs:
      - job: LintAndScan
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.x'

          - script: |
              sudo curl -fsSL https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
              terraform -version || true
            displayName: 'Install tflint and terraform'

          - script: |
              terraform init -backend=false
              terraform fmt -check -recursive
              terraform validate || true
            displayName: 'Terraform fmt & validate'

          - script: |
              curl -sSL https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_tfsec.sh | bash
              tfsec --version || true
              tfsec || true
            displayName: 'Run tfsec'

          - script: |
              pip install checkov
              checkov -d . || true
            displayName: 'Run checkov'

  - stage: Plan
    dependsOn: Validate
    jobs:
      - job: TerraformPlan
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: |
              terraform init
              terraform plan -out=tfplan.binary
            displayName: 'Terraform plan'

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: 'tfplan.binary'
              ArtifactName: 'tfplan'
              publishLocation: 'pipeline'

  - stage: CostEstimate
    dependsOn: Plan
    jobs:
      - job: Infracost
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: |
              curl -sL https://github.com/infracost/infracost/releases/latest/download/infracost-linux-amd64.tar.gz | tar xz -C /tmp
              /tmp/infracost --version || true
              /tmp/infracost breakdown --path=tfplan.binary --format=json --out-file infracost.json || true
            displayName: 'Infracost breakdown'
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: 'infracost.json'
              ArtifactName: 'infracost'
              publishLocation: 'pipeline'

  - stage: Test
    dependsOn: CostEstimate
    jobs:
      - job: Terratest
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - script: |
              sudo apt-get update
              sudo apt-get install -y golang-go
              go version
              cd test
              go test -v ./...
            displayName: 'Run Terratest (go tests)'


  - stage: ManualApproval
    dependsOn: CostEstimate
    jobs:
      - job: WaitForApproval
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: ManualValidation@0
            inputs:
              notifyUsers: ''
              instructions: 'Please review scans, cost and plan. Approve to continue to apply.'

  - stage: Apply
    dependsOn: ManualApproval
    jobs:
      - job: TerraformApply
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - download: current
            artifact: tfplan

          - script: |
              terraform apply -auto-approve tfplan.binary
            displayName: 'Terraform apply'
            env:
              ARM_CLIENT_ID: $(ARM_CLIENT_ID)
              ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
              ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
              ARM_TENANT_ID: $(ARM_TENANT_ID)
